<div data-hook="news">
  <h6> <%= l(@post.created_at, format: "%d %B %Y") %> </h6>
  <h1> <%= @post.title %> </h1>
  <div class="well">
    <%= @post.description.html_safe %>
  </div>
  <p><%= link_to 'See all News', posts_path %></p>
</div>
